/* body {
    background: rgb(245, 255, 165);
    background: linear-gradient(278deg, rgba(245, 255, 165, 1) 0%, rgba(215, 198, 37, 1) 100%);
} */

.laptop-view {
    display: block;
}

.mobile-view {
    display: none;
}


.my-overflow {
    padding: 24;
    min-height: 800;
}

.side-panel {
    display: block;
}

.side-panel-btn {
    visibility: hidden;
}

@media screen and (max-width: 700px) {
    .laptop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .side-panel {
        display: none;
    }

    .side-panel-btn {
        visibility: visible;
    }
}




#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.ant-menu-item-selected {
    background-color: #001529 !important;
}